<style type="text/css">

.navbar-default {
    background-color: #1c1d21;
    border-color: #ffffff;

}
</style>
<div class="home" style="margin:0px; padding:0; " ng-controller="dashCtrl as ctrl">
    <style>
    .video-wrapper {
    width: 90%;
    margin: auto;
    box-shadow: 0 0 20px 1px black;
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}

</style>


    <div class="user-dashboard" style="margin-bottom: 100px;">
        <br>
        <h2 style="padding-left: 20px;"> How it works?</h2>
    </br>
        <div class="container">
       <div class="video-wrapper">
        <video  poster="assets/images/home_SS.jpg" id="workflowvideo" >
  <source src="assets/images/finalfinal.mp4" type="video/mp4">
  
    </video>
</div></div>

    </div>

</div>
    <section style="background-color: #d8d8d8">
        <center>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
                
              <h3>1. Upload file</h3>
              <img src="assets/images/folder.png">
                <p style="padding-top: 15px;">Provide us with .stl file.</p>
            </div>
            <div class="col-sm-3">
                
              <h3>2.CHOOSE MATERIAL</h3>
                <img src="assets/images/verified.png">
                <p style="padding-top: 15px;">Choose different material and quantity.</p>
            </div>
            <div class="col-sm-3">
                
              <h3>3. Instant quote</h3>
                <img src="assets/images/calculator(2).png">
                <p style="padding-top: 15px;">You receive the quote instantly and the lead time.</p>
            </div>
            <div class="col-sm-3">

             <h3>4. Order Tracking</h3>
             <img src="assets/images/move.png">
                <p style="padding-top: 15px;">Receive product within agreed timeframe.</p>
            </div>
          </div>
        </div>
    </center>
    </section>